* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  user-select: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-size: 16px;
}
.icon {
  color: rgb(87, 3, 95);
  position: relative;
}
.icon:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -5px;
  width: 0;
  height: 3.5px;
  background-color: rgb(87, 3, 95);
  transition: 0.4s ease-in-out;
}
.icon:hover:after {
  width: 113%;
}

.navBar {
  height: 75px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    rgb(255, 255, 255),
    rgb(232, 202, 176)
  );
  z-index: 100;
  border-bottom: 0.2px solid rgb(218, 186, 240);
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo img {
  height: 120px;
  width: 120px;
}
.logo p {
  font-size: 22px;
  font-weight: bold;
  color: rgb(87, 3, 95);
}

.nav-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 50px;
  margin-right: 35px;
}
.icon {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.contactbtn {
  margin-right: 30px;
}
.iconContact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(160, 15, 139);
  height: 33px;
  width: 140px;
  border-radius: 6px;
  color: white;
  transition: 0.3s ease;
  border: 1px solid rgb(160, 15, 139);
  font-size: 17px;
}
.iconContact:hover {
  transform: scale(1.05);
}
.iconContact:active {
  opacity: 0.7;
}

body {
  margin-top: 76px;
}
.accueil {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;
  scroll-margin-top: 75px;
}
.accueil img {
  width: auto;
  height: 570px;
}
.obscurite {
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(30, 29, 29, 0.47);
  z-index: 2;
}
.textAcceuil {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin: 130px 60px 10px 60px;
}

.textAcceuil1 {
  border: 1.5px solid rgb(87, 3, 95);
  color: white;
  font-size: 25px;
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
.textAcceuil1 p {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  line-height: 1.25;
}
.textAcceuil p strong {
  font-size: 28px;
  color: rgb(249, 197, 151);
}

.acceuilBtn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.acceuilBtn button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 42px;
  color: white;
  background-color: rgb(192, 133, 82);
  border: 1px solid rgb(192, 133, 82);
  font-size: 17px;
  border-radius: 8px;
  transition: 0.2s ease;
}
.acceuilBtn button:hover {
  color: rgb(232, 170, 115);
  backdrop-filter: blur(5px);
  background-color: rgba(104, 101, 101, 0.116);
  border: 0.8px solid white;
}
.acceuilBtn button:active {
  color: rgb(201, 139, 84);
}

.aPropos {
  margin: 40px 40px 20px 40px !important;
  padding: 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.153);
  border: 0.2px solid rgba(232, 170, 115, 0.386);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 80px;
}
.propos1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 5px;
  width: auto;
  margin-bottom: 30px;
}
.imgPropos1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 340px;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.153);
  border: 0.2px solid rgba(232, 170, 115, 0.386);
  animation: propo 8s ease infinite;
}
@keyframes propo {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(15px, 15px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(15px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.imgPropos1 img {
  width: auto;
  height: 100%;
  border-radius: 10px;
}
.textePropos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
}
.textePropos h1 {
  margin: 18px 0 10px 0;
  color: rgb(87, 3, 95);
  font-size: 30px;
}
.textePropos p {
  font-size: 17px;
}
.textePropos h2 {
  color: rgba(106, 31, 113, 0.811);
  margin: 15px 0 10px 0;
}
.carre,
.carre2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 220px;
  border-radius: 8px;
  gap: 10px;
  background-color: rgba(156, 119, 184, 0.11);
  margin: 20px 10px 10px 10px;
}

.carre i {
  color: rgb(241, 237, 237);
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(100deg, rgba(16, 98, 113, 0.874), white);
}
.carre2 i {
  color: rgb(241, 237, 237);
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(100deg, rgba(68, 88, 191, 0.97), white);
}
.carre3 {
  margin-bottom: 20px;
  position: relative;
}
.carre3:after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -2px;
  height: 2px;
  width: 110px;
  background: linear-gradient(
    to right,
    rgb(113, 82, 54) 20%,
    rgb(197, 159, 127),
    white
  );
}
.carre3 h2 {
  font-size: 28px;
  color: rgb(113, 82, 54);
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team h2 {
  margin: 15px 0 20px 0;
}
.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.containers1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 180px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.153);
  border: 0.01px solid rgba(130, 128, 128, 0.167);
  width: 300px;
  border-radius: 15px;
}
.container:hover img {
  transform: scale(1.04);
}
.imgTeam {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;
  height: 300px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.imgTeam img {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  transition: 0.5s ease;
}
.texteTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.texteTeam h3 {
  padding: 12px 0 8px 0;
  font-size: 17px;
  font-weight: bold;
  color: rgba(16, 98, 113, 0.874);
  position: relative;
}
.texteTeam h3:after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  width: 60%;
  height: 2.3px;
  position: absolute;
  bottom: 2px;
  left: 20%;
  background-image: linear-gradient(
    100deg,
    rgba(68, 88, 191, 0.97),
    rgba(207, 227, 230, 0.874),
    rgba(16, 98, 113, 0.619)
  );
}
.texteTeam h4 {
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 6px;
}
.texteTeam p {
  font-style: italic;
  color: rgb(87, 85, 85);
  padding: 0 5px 5px 5px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 20px 0 0;
  scroll-margin-top: 75px;
}
.texteService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}
.texteService h1 {
  margin: 18px 0 10px 65px;
  color: rgb(87, 3, 95);
  font-size: 30px;
  position: relative;
}
.texteService h1:after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  height: 30px;
  width: 3px;
  background: linear-gradient(
    to bottom,
    rgba(246, 160, 63, 0.895) 20%,
    rgb(237, 210, 210)
  );
}
.texteService p {
  font-size: 17px;
  margin: 5px 0 15px 13px;
  line-height: 1.2;
}
.containerService1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.3px solid rgb(209, 205, 205);
  border-radius: 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.153);
  padding: 10px;
  margin: 0 90px 30px 2px;
  gap: 40px;
}
.containerService2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.3px solid rgb(209, 205, 205);
  border-radius: 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.153);
  padding: 10px;
  margin: 0 2px 30px 90px;
  gap: 40px;
  animation: serve 6s ease infinite;
}
@keyframes serve {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.imgService {
  height: 300px;
  width: auto;
  border-radius: 15px;
}
.imgService img {
  height: 100%;
  width: auto;
  border-radius: 15px;
}
.texteContServe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.texteContServe p {
  font-size: 18px;
}
.para {
  display: block; /* important : bloc */
  position: relative;
  margin: 10px auto; /* pour que ::before soit absolu par rapport au bloc */
  padding: 30px;
  text-align: justify; /* assure que le texte commence à gauche */
  line-height: 1.4;
  font-size: 17px;
}
.para::before {
  content: "“";
  font-size: 80px;
  color: #c1bfbe;
  position: absolute;
  top: -15px;
  left: -10px;
  pointer-events: none;
}
.para::after {
  content: "”";
  font-size: 80px;
  color: #c1bfbe;
  position: absolute;
  bottom: -55px;
  right: -10px;
}
.realisation {
  margin-top: 70px;
  background-color: rgba(203, 161, 128, 0.073);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  scroll-margin-top: 75px;
}
.texteRealisation {
  text-align: center;
  margin-bottom: 40px;
}
.texteRealisation h1 {
  margin: 20px 0 20px 0;
  color: rgb(87, 3, 95);
}
.texteRealisation p {
  font-size: 18px;
}
.carteReal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.carteReal1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 320px;
  height: auto;
  border: 0.4px solid rgba(134, 133, 133, 0.237);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.153);
  border-radius: 5px;
  transition: 1s ease;
}
.carteReal1:hover {
  transform: translateY(-10px);
}
.carteReal1:hover .imgRealisation img {
  transform: scale(1.05);
}
.carteReal1:hover .savoir i {
  transform: scale(1.02);
  color: rgb(252, 249, 252);
  background-image: linear-gradient(
    100deg,
    rgba(90, 15, 101, 0.9),
    rgba(189, 181, 181, 0.514)
  );
}
.imgRealisation {
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.imgRealisation img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  transition: 0.5s ease;
}
.texteReal {
  margin-top: 0;
  padding: 5px;
}
.texteReal h2 {
  margin-bottom: 3px;
  color: black;
  font-size: 23px;
}
.texteReal p {
  font-size: 17px;
  color: rgb(86, 86, 86);
  margin-bottom: 6px;
  text-align: justify;
}
.savoir {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin: 0 10px 0 5px;
}
.savoir i {
  font-size: 16px;
  color: rgb(106, 55, 118);
  padding: 7px;
  border-radius: 3px;
  background-image: linear-gradient(
    100deg,
    rgba(129, 102, 133, 0.648),
    rgba(225, 223, 223, 0.285)
  );
  transition: 0.3s ease;
}
.savoir a {
  color: rgb(106, 55, 118);
  font-size: 17px;
  font-weight: bold;
}
.savoir:hover a {
  text-decoration: underline;
}
.savoir a:active {
  opacity: 0.8;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;
  background-color: rgb(2, 4, 56);
}
.highPart {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  color: rgba(227, 227, 227, 0.842);
  margin: 30px 10px 20px 10px;
}
.lidTech {
  flex: 1.5;
}
.lidTech p {
  font-size: 17px;
}
.liens {
  flex: 1;
}
.contactFooter {
  flex: 1;
}
.contactFooter li a {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 17px;
  line-height: 1.4;
  color: rgba(227, 227, 227, 0.842);
}
.contactFooter li a:hover {
  color: white;
}
.news {
  flex: 1.8;
  font-size: 17px;
  line-height: 1.4;
}
.news form {
  margin-top: -6px;
}
.news input {
  height: 32px;
  width: 320px;
  font-size: 15px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  transition: 0.3s ease;
  padding-left: 10px;
  padding-right: 10px;
}
.news input:focus {
  scale: 1.02;
  border: 1px solid rgb(76, 89, 202);
}
.news button {
  height: 34px;
  width: 34px;
  border: none;
  border-radius: 5px;
  color: rgb(2, 4, 56);
  background-color: white;
  transition: 0.3s ease;
}
.news button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.news button:active {
  opacity: 0.8;
}
.highPart li {
  list-style: none;
  font-size: 17px;
  line-height: 1.5;
}
.highPart h1 {
  font-size: 24px;
  color: white;
  margin-bottom: 25px;
  position: relative;
}
.highPart h1:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -1px;
  width: 80px;
  height: 2px;
  background: white;
}
.reseaux {
  margin-top: 10px;
}
.reseaux ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 17px;
}
.reseaux a {
  color: rgba(227, 227, 227, 0.842);
}
.reseaux a:hover {
  color: white;
}
.liens a {
  color: rgba(227, 227, 227, 0.842);
  font-size: 17px;
}
.liens h1 {
  white-space: nowrap;
}
.foot {
  color: black;
}
.foot:hover {
  color: white;
}
.foot:hover:after {
  width: 0;
}
.downPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  gap: 7px;
  margin: 30px 0 0 0;
  color: rgba(227, 227, 227, 0.842);
}
.downPart:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10%;
  width: 80%;
  height: 0.1px;
  background: rgb(131, 129, 129);
}
